@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,400i,600,600i,700,700i,800,800i');
/* General */

$decorColor: #ec3c57;
$sectionDecor: #5c60ff;
$lightDecor: #3cd9b4;
$navLinkColor: #fff;
$navLinkColor__hover: $decorColor;
html {
    font: 400 10px/1.3 'Nunito', arial;
    text-align: left;
}

#page {
    overflow: hidden;
}

#grey-mask,
#grey-mask--end {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 110;
    pointer-events: none;
}

#grey-mask--end {
    top: calc( 100% - 65px);
    right: auto;
    left: 0;
}

/* Nav */

.main-nav {
    padding: 50px 15px 20px 20px;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    a {
        color: $navLinkColor;
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: none;
        transition: color .3s;
        display: inline-block;
        margin: 0 25px;
        &:hover,
        &:active,
        &.active {
            color: $navLinkColor__hover;
            text-decoration: none;
        }
    }
    .link--decor2 {
        &:hover,
        &:active,
        &.active {
            color: #fff;
            text-decoration: none;
        }
    }
    [class^='link--decor'] {
        margin: 0 8px;
    }
}

.main-nav--decor {
    width: 61%;
    left: auto;
    right: 0;
    text-align: right;
}

.right-nav__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

[class^='link--decor'] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 3;
    background: none;
    border: 0;
    font-size: 1.6rem;
    font-weight: 300;
    cursor: pointer;
    padding: 0;
    span,
    svg {
        vertical-align: middle;
    }
    a {
        margin: 0;
        font-weight: 300;
        vertical-align: middle;
        color: #505151;
    }
}

.link--decor1 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #505151;
    border-radius: 50%;
}

.svg-ico {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    path {
        fill: #fff;
    }
}

.link--decor2 {
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .8px;
    background: $decorColor;
    padding: 0 40px;
    border-radius: 50px;
}

.link--decor3 {
    padding: 6px 15px;
    transition: all .3s;
    border-radius: 9px;
}

.non-active-lang {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    margin-top: 9px;
    padding: 5px;
    z-index: 3;
    a {
        display: block;
        pointer-events: auto;
    }
}

.non-active-lang {
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    border-radius: 0 0 9px 9px;
    a {
        border-top: 1px solid #fff;
        padding: 4px 13px;
    }
}

.lang-open {
    .link--decor3 {
        background: rgba(255, 255, 255, .5);
    }
    .non-active-lang {
        opacity: 1;
        pointer-events: auto;
        background: rgba(255, 255, 255, .5);
    }
    #more-ico {
        transform: rotate(180deg);
    }
}

/* Header */

.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    h1 {
        font-size: 7rem;
        font-weight: 200;
    }
    h2 {
        font-size: 3rem;
        font-weight: 200;
        margin: 22px 0 30px;
    }
    a {
        background: transparent;
        border: 3px solid $decorColor;
        display: inline-block;
        color: #fff;
        font-size: 2.2rem;
        color: #fff;
        padding: 12px 70px;
        border-radius: 26px;
        letter-spacing: .8;
        transition: all .3s;
        &:hover,
        :active,
        .active {
            text-decoration: none;
            color: $decorColor;
            background: rgba(255, 255, 255, .7);
        }
    }
}

.full-section__socials {
    position: absolute;
    right: 115px;
    bottom: 50px;
    z-index: 111;
    a {
        display: block;
        margin-top: 35px;
    }
}

.full-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
}

// Join
.join__container {
    padding: 100px;
    background: $sectionDecor;
    transform: translateX(-100px);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    position: relative;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        margin: 30px 0;
    }
    
    p {
        line-height: 2;
    }
}

.join__cointainer-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: $lightDecor;
    transform: skew(-18deg);

}

.join__ico {
    width: 98px;
    height: 98px;
    margin: 15px auto;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
}

#join__ico-2 {
    transform: translate(calc( -50% - 5px ),-50%);
}

@media screen and (max-width: 1280px) {
    .main-nav__link--home {
        img {
            width: 140px;
        }
    }
    .main-nav {
        padding: 18px 5px 5px;
        a {
            margin: 0 9px;
        }
        [class^="link--decor"] {
            transform: scale(.8);
            margin: 0 -5px;
        }
    }
    .header-content {
        h1 {
            font-size: 4.5rem;
        }
        h2 {
            font-size: 2.3rem;
        }
        a {
            font-size: 2rem;
            padding: 9px 40px;
            border-radius: 22px;
        }
    }
    .full-section__socials {
        right: 30px;
        bottom: 20px;
        a {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 500px) {}